<div class="col">
  <div class="card pt-2" style="width: 18rem;">
    <%= image_tag 'settings.svg', alt: 'sample image', class: 'card-img-top w-25', width: 50, height: 50 %>
    <div class="card-body">
      <h5 class="card-title">アプリケーションの管理</h5>
      <p class="card-text">アプリケーションの設定やログアウトを行います。</p>
      <%= link_to '管理ページへ', setting_path, class: 'card-link' %>
    </div>
  </div>
</div>
