<div class="col">
  <div class="card pt-2" style="width: 18rem;">
    <%= image_tag image_path, alt: 'sample image', class: 'card-img-top w-25', width: 50, height: 50 %>
    <div class="card-body">
      <h5 class="card-title"><%= card_title %></h5>
      <p class="card-text"><%= card_text %></p>
      <%= link_to link_title, link_path, class: 'card-link' %>
    </div>
  </div>
</div>
