<div class="col">
  <div class="card pt-2" style="width: 18rem;">
    <%= image_tag 'maker_add.svg', alt: 'sample image', class: 'card-img-top w-25', width: 50, height: 50 %>
    <div class="card-body">
      <h5 class="card-title">メーカーの管理</h5>
      <p class="card-text">メーカーに関する情報を一括管理します。</p>
      <%= link_to '管理ページへ', makers_path, class: 'card-link' %>
    </div>
  </div>
</div>
