<div class="col">
  <div class="card pt-2" style="width: 18rem;">
    <%= image_tag 'list.svg', alt: 'sample image', class: 'card-img-top w-25', width: 50, height: 50 %>
    <div class="card-body">
      <h5 class="card-title">処理の一覧から検索</h5>
      <p class="card-text">表面処理一覧から目的の処理を検索します。</p>
      <%= link_to '検索ページへ', samples_path, class: 'card-link' %>
    </div>
  </div>
</div>
