<div class="container text-center">
  <div class="row">
    <div class="welcome-message">Welcome to Surface Treatment Manager</div>
  </div>
  <div class="row">
    <%= link_to "Sample Index", samples_path %>
  </div>
</div>
