<!-- <h1>Welcome to Surface Treatment Manager!!</h1> -->

<!-- <%= link_to "Sample Index", samples_path %> -->

<div class="container text-center">
  <div class="row">
    <div class="col col-first">
      Column
    </div>
    <div class="col col-second">
      Column
    </div>
    <div class="col col-third">
      Column
    </div>
  </div>
</div>