<% if pages.next_page %>
  <li class="page-item">
    <a class="page-link" href="/samples?page=<%= pages.next_page %>">Next</a>
  </li>
<% else %>
  <li class="page-item disabled">
    <a class="page-link">Next</a>
  </li>
<% end %>
