<%= content_for(:title, '表面処理情報の編集') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">表面処理情報の編集</h3>

  <%= render 'form', button_name: '更新', image: @sample.picture.url %>
</div>

<div class="text-center mb-5"><%= link_to "表面処理情報へ", sample_path(@sample) %></div>

<script type="text/javascript">
  document.getElementById('sample_picture').addEventListener('change', function() {
    let sizeInMegabytes = this.files[0].size / 1024 / 1024;
    if (sizeInMegabytes > 5) {
      alert('最大ファイルサイズは5MBです。より小さいファイルをお選びください。');
    }
  });

  document.getElementById('sample_picture').addEventListener('change', function() {
    let file = this.files[0];
    if (file) {
      let reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('preview_image').setAttribute('src', e.target.result);
      }
      reader.readAsDataURL(file);
    }
  });
</script>
