<%= content_for(:title, '表面処理情報の登録') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">表面処理情報の登録</h3>

  <%= render 'form', button_name: '登録', image: '' %>
</div>

<div class="text-center mb-5"><%= link_to "表面処理リストへ", samples_path %></div>

<%= render 'picture_size_alert' %>
