<div class="container">
  <div class="row">
    <div class="col text-center fs-1">
      Sample New
    </div>
  </div>

  <%#= render "shared/form", sample: @sample %>

  <div class="row">
    <div class="col text-center">
      <%= link_to "Sample Index", samples_path %>
    </div>
  </div>
</div>
