<%= render 'shared/header' %>

<div class="container">
  <div class="mb-3 text-center fs-1">
    Sample New
  </div>

  <%= render "shared/form", sample: @sample %>

  <div class="text-center">
    <%= link_to "Main Menu", home_path %>
  </div>
</div>
