# Exported from Render on 2026-02-13
version: "1"
services:
  - type: web
    name: surface-treatment-manager
    runtime: docker
    repo: https://github.com/harutoreon/surface-treatment-manager
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: surface-treatment-manager
          property: connectionString
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: RAILS_MASTER_KEY
        sync: false
      - key: WEB_CONCURRENCY
        sync: false
    region: singapore
    dockerContext: ./backend
    dockerfilePath: ./backend/Dockerfile
    autoDeployTrigger: commit
  - type: web
    name: surface-treatment-manager-vue
    runtime: static
    repo: https://github.com/harutoreon/surface-treatment-manager
    envVars:
      - key: VITE_API_BASE_URL
        sync: false
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    autoDeployTrigger: commit
    rootDir: ./frontend
databases:
  - name: surface-treatment-manager
    databaseName: surface_treatment_manager_vr4e
    user: surface_treatment_manager_vr4e_user
    plan: free
    region: singapore
    ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere
    postgresMajorVersion: "18"
