<%= content_for(:title, 'ユーザー情報の編集') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">ユーザー情報の編集</h3>

  <%= render 'form', button_name: '更新' %>

  <div class="text-center"><%= link_to 'ユーザー情報へ', user_path(@user) %></div>
</div>
