<div class="container w-50">
  <div class="text-center fs-1 mb-3">
    Sign up
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Example : Michael Hartl">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleFormControlInput1">
  </div>

  <button type="button" class="btn btn-primary">Sign up</button>
</div>
