<%= render 'shared/header' %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> alert-dismissible fade show"><%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container text-center w-50">
  <div class="mb-3 fs-1">
    User Profile
  </div>
  <div class="mb-3 fs-4">
    Name: <%= @user.name %>
  </div>
</div>