<header>
  <nav class="navbar bg-body-tertiary border-bottom">
    <div class="container justify-content-center">
      <%= link_to "Surface Treatment Manager", home_path, class: "navbar-brand" %>
    </div>
  </nav>
</header>
