<div class="container-fluid mt-2 mb-5">
  <div class="container w-75">
    <div class="row">
      <div class="col text-center"><%= link_to "Surface Treatment Manager", home_path, class: "navbar-brand fs-3" %></div>
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item"><%= link_to "Log out", logout_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }, class: "nav-link" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>