<% content_for(:title, 'Main Menu') %>

<div class="container w-75">
  <h3 class="text-center mt-5 mb-5">メインメニュー</h3>

  <div class="row mb-4">
    <% search_card_information.each do |card_information| %>
      <%= render partial: 'home_partial', locals: card_information %>
    <% end %>
  </div>

  <div class="row mb-4">
    <% manage_card_information.each do |card_information| %>
      <%= render partial: 'home_partial', locals: card_information %>
    <% end %>
  </div>

  <div class="row mb-4">
    <% settings_card_information.each do |card_information| %>
      <%= render partial: 'home_partial', locals: card_information %>
    <% end %>
  </div>
</div>
