<%= content_for(:title, 'カテゴリー情報の編集') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">カテゴリー情報の編集</h3>

  <%= render 'form', button_name: '更新' %>

  <div class="text-center"><%= link_to 'カテゴリー情報へ', category_path(@category) %></div>
</div>
