<%= content_for(:title, 'カテゴリー情報の登録') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">カテゴリー情報の登録</h3>

  <%= render 'form', button_name: '登録' %>

  <div class="text-center"><%= link_to 'カテゴリーリストへ', categories_path %></div>
</div>
