<%= content_for(:title, 'メーカー情報の編集') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">メーカー情報の編集</h3>

  <%= render 'form', button_name: '更新' %>

  <div class="d-flex justify-content-evenly">
    <%= link_to 'メーカー情報へ', maker_path(@maker) %>
  </div>
</div>
