<%= content_for(:title, 'メーカー情報の登録') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">メーカー情報の登録</h3>

  <%= render 'form', button_name: '登録' %>

  <div class="d-flex justify-content-center">
    <%= link_to 'メーカーリストへ', makers_path %>
  </div>
</div>
