<%= content_for(:title, 'ユーザー情報の登録') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">ユーザー情報の登録</h3>

  <%= render 'form', button_name: '登録' %>

  <div class="text-center"><%= link_to 'ユーザーリストへ', users_path %></div>
</div>
