<% 1.upto(pages.total_pages) do |page| %>
  <li class="page-item <%= 'active' if pages.current_page == page %>">
    <a class="page-link" href="/samples?page=<%= page %>"><%= page %></a>
  </li>
<% end %>
