<% if pages.previous_page %>
  <li class="page-item">
    <a class="page-link" href="/samples?page=<%= pages.previous_page %>">前のページ</a>
  </li>
<% else %>
  <li class="page-item disabled">
    <a class="page-link">前のページ</a>
  </li>
<% end %>
