<%= content_for(:title, '表面処理情報の編集') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">表面処理情報の編集</h3>

  <%= render 'form', button_name: '更新', image: @sample.picture.url %>
</div>

<div class="text-center mb-5"><%= link_to "表面処理情報へ", sample_path(@sample) %></div>

<%= render 'picture_size_alert' %>
